*.a
*.cache
*.la
*.lo
*.log
*.o
*.so
*.status
*~
.*.sw?
.deps
.libs
.nfs*
Makefile
Makefile.in
aclocal.m4
cert
config.guess
config.h
config.h.in
config.sub
configure
core
core.*
cvink
libtool
ltmain.sh
m4
stamp-h1
vgcore.*
vinkd
